__pycache__/*
*.log
.pkl_memoize_py3/*
generated_kernels/*
logs/*
npy/*
benchmark/cudnn/cudnn_bench
benchmark/benchmark
*.png
*.eps
schedules/__pycache__/*
schedules/cpu/__pycache__/*
schedules/gpu/__pycache__/*