__pycache__/*
*.log
.pkl_memoize_py3/*
generated_kernels/*
libxsmm_wrapper/*.so
libxsmm_wrapper/logs/*
logs/*
npy/*
tmp/*
benchmark/gpu/gpu_bench
benchmark/cpu/cpu_bench
benchmark/cpu/*.o
benchmark/cpu/*.so
benchmark/cpu/core
*.png
*.eps
schedules/__pycache__/*
schedules/cpu/__pycache__/*
schedules/gpu/__pycache__/*
.vscode
*.tsv
*.pdf
